version: '3'

services:
  db:
    build: ./db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: "example"
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "password"
  server:
    build: ./app
    restart: always
    depends_on:
      - db
    ports:
      - "3000:3000"
    volumes:
      - /app/node_modules
      - ./app:/app
    
    